@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>

<div class="editor-field">
    <a class="button" href="@Url.Action("Index", "LandingPage")">Continue</a>
</div>
