@{
    ViewBag.Title = "HSEAP Detailed";
}

<h2>@ViewBag.Title</h2>

<table id="hceapDetailed"></table>
<script>
	$(function () {
		var oTable = $('#hceapDetailed').dataTable({
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"bServerSide": true,
			"aaSorting": [[0, "asc"]],
			"sAjaxSource": '@Url.Action("HseapDetailedData", new { Id = Model })',
			"aoColumns": [
				{ "mData": "DateOfGrant", "sTitle": "DateOfGrant", "mRender": function (a) { return renderDate(a); }},
				{"mData": "ClientId", "sTitle": "ClientId"},
				{"mData": "LastName", "sTitle": "LastName"},
				{"mData": "FirstName", "sTitle": "FirstName"},
				{"mData": "NationalId", "sTitle": "NationalId"},
				{ "mData": "Dob", "sTitle": "Dob", "mRender": function (a) { return renderDate(a); } },
				{"mData": "CatCode", "sTitle": "CatCode"},
				{"mData": "PurposeOfGrant", "sTitle": "PurposeOfGrant"},
				{"mData": "Amount", "sTitle": "Amount"},
				{"mData": "NaziPersecutionDetails", "sTitle": "NaziPersecutionDetails"},
				{"mData": "TotalAmount", "sTitle": "TotalAmount"}
			]
		});
	});
</script>
<div>
	<a href="@Url.Action("HseapDetailedExport", new { id = Model })" class="button">Export</a>
</div>
