<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
 !-->
  <connectionStrings>
    <add name="ccEntities" connectionString="metadata=res://*/CcDbModel.csdl|res://*/CcDbModel.ssdl|res://*/CcDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=cc;uid=cc; pwd=jhfsd4sdf; multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<system.net>
		<mailSettings>
			<smtp from="test@prog4biz.com">
				<network host="mail.spd.co.il" userName="test@prog4biz.com" password="te123456"/>
			</smtp>
		</mailSettings>
	</system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	 
    <authentication mode="Forms">
      <forms requireSSL="true" xdt:Transform="SetAttributes(requireSSL)" />
    </authentication>
  
  </system.web>
</configuration>