<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
 !-->
  <connectionStrings>
    <add name="ccEntities" connectionString="metadata=res://*/CcDbModel.csdl|res://*/CcDbModel.ssdl|res://*/CcDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;***CONNECTION STRING GOES HERE***&quot;" providerName="System.Data.EntityClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="adminMail" value="diamondautoemails@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="BaseUrl" value="https://grantreporting.claimscon.org/"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ImportCfsEmail" value="Icfs2@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="AutomatedReportsEmailTo" value="diamondautoemails@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="AutomatedReportsEmailCc" value="diamondautoemails@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="Replace"/>
    <authentication>
      <forms requireSSL="true" domain="grantreporting.claimscon.org"
        xdt:Transform="SetAttributes(requireSSL, domain)"/>
    </authentication>
  </system.web>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="noreply@grantreporting.claimscon.org" deliveryMethod="Network" >
        <network host="10.40.12.83" />
      </smtp>
    </mailSettings>
  </system.net>
  <log4net>
    <root xdt:Transform="Replace">
      <priority value="INFO" />
      <appender-ref ref="ADONetAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="ADONetAppender" xdt:Locator="Match(name)">
      <bufferSize value="1" xdt:Transform="Replace"/>
      <connectionString value="data source=localhost, 1433;initial catalog=cc;uid=CCDiamond; pwd=fsdCC!12; multipleactiveresultsets=True;App=EntityFramework" xdt:Transform="Replace"/>
    </appender>
    <appender name="SmtpAppender" xdt:Locator="Match(name)">
      <from value="error@grtest.claimscon.org"  xdt:Transform="Replace"/>
      <to value="errors@prog4biz.com" xdt:Transform="Replace" />
      <cc value ="Error-GRTest@claimscon.org" xdt:Transform="Insert" />
      <smtpHost value="10.40.12.83" xdt:Transform="Replace" />
      <username xdt:Transform="Remove" />
      <password xdt:Transform="Remove"/>
    </appender>
  </log4net>
</configuration>
