<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
 !-->
  <connectionStrings>
    <add name="ccEntities" connectionString="metadata=res://*/CcDbModel.csdl|res://*/CcDbModel.ssdl|res://*/CcDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.40.25.226;initial catalog=cc_dev;uid=cc_dev; pwd=qlyjwTfSNBMLm702GX0T; multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="adminMail" value="Lena.Kunisky@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CashForServicesStartYear" value="2015"
      xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ImportCfsEmail" value="Lena.Kunisky@claimscon.org,Icfs2@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="AutomatedReportsEmailTo" value="Lena.Kunisky@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="AutomatedReportsEmailCc" value="Lena.Kunisky@claimscon.org"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="Replace"/>
    <authentication>
      <forms requireSSL="false" domain="grdev.claimscon.org"
        xdt:Transform="SetAttributes(requireSSL, domain)"/>
    </authentication>
  </system.web>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="noreply@grdev.claimscon.org" deliveryMethod="Network">
        <network host="nyccex.claimscon.org"/>
      </smtp>
    </mailSettings>
  </system.net>
  <log4net>
    <root xdt:Transform="Replace">
      <priority value="DEBUG" />
      <appender-ref ref="ADONetAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="ADONetAppender" xdt:Locator="Match(name)">
      <connectionString value="data source=10.40.25.226;initial catalog=cc_dev;uid=cc_dev; pwd=qlyjwTfSNBMLm702GX0T; multipleactiveresultsets=True;App=EntityFramework" xdt:Transform="Replace"/>
    </appender>
    <appender name="SmtpAppender" xdt:Transform="Remove">
      <from value="error-DEBUG@grdev.claimscon.org"  xdt:Transform="Replace"/>
      <to value="Lena.Kunisky@claimscon.org" xdt:Transform="Replace" />
      <smtpHost value="nyccex.claimscon.org" xdt:Transform="Replace" />
      <username value="user" xdt:Transform="Remove" />
      <password value="pass" xdt:Transform="Remove"/>
    </appender>
  </log4net>
</configuration>